* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.card-star {
    width: 20px;
}

.card {
    width: 300px;
    font-size: 22px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column; 
}

.card-image {
    width: 100%;
    border-radius: 9px;
}

.card-stats {
    display: flex;
    align-items: center;
}

.amount, .country {
    color: #918E9B;
}

.price {
    font-weight: bold;
}

.cards-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
}